table {
    background-color: #232020;
    margin: 0 auto;
}

caption {
    font-size: 21px;
    padding-top: 2px;
    padding-bottom: 6px;
}

tr {
    text-align: center;
    font-size: 16px;
    height: 50px;
}

th {
    width: 100px;
}

.thPersian {
    font-size: 12px;
}

.headerRow {
    background-color: #D4A017;
    position: sticky;
    top: 0;
}

.yearRow {
    background-color: #8febd3;
    font-size: 18px;
    font-weight: bold;
    top: 0;
}

.emptyPadding {
    padding-top: 600px;
}

canvas {
    display: block;
    margin: 0 auto;
}
