table {
    background-color: #232020;
}

tr {
    text-align: center;
}

th {
    width: 100px;
}

.headerRow {
    background-color: #D4A017;
}

.s {
    background-color: #B2FFBF;
}

.f {
    background-color: #E55B3C;
}

.n {
    background-color: #FED8B1;
}
